menubar*/
/*{

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    
}
li{
    float: right;
  }


.text_logo{color: black}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    background-color: #F2F3F4;
}
.class-1{
    padding-top: 20px;
        }
}*/

/*menu dropdown btn*/

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


/*slider*/
/* start for zoom in and zoom out effects*/
.item {
    transition: display 1500ms linear 0s;
    overflow:hidden;
}
.item.active img {
    transition: transform 5000ms linear 0s;
    /* This should be based on your carousel setting. For bs, it should be 5second*/
    transform: scale(1.05, 1.05);
}
/* End for zoom in and zoom out effects*/

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }

@media only screen and (min-width: 1000px) {
  .responsice_slider{
    display: none;
  }  
}

@media only screen and (max-width: 1000px) {
  .normal-slider{
    display: none;
  }  
}

.regularSliderFontSize{
                       font-size: 30px;
                      }


.responsiveSliderFontSize{
    font-size: 27px;
}

/*gallery*/

/*@media only screen and (min-width: 1000px){
#for-padding{
    padding-left: 5%;
}
}
*/





/*parallax effect*/

/*start for buttons*/
#parallax-id1:hover,#parallax-id2:hover,#parallax-id3:hover,#parallax-id4:hover,#parallax-id5:hover,#parallax-id6:hover {
     background-color: #4dc2e6;
}

#parallax-id1,#parallax-id2,#parallax-id3,#parallax-id4,#parallax-id5,#parallax-id6{
border-radius: 0px;
height:70px;
background-color: black;
color: white;
border: none;
font-size: 25px;
}


#parallax-id1,#parallax-id2,#parallax-id3,#parallax-id4,#parallax-id5,#parallax-id6{

}

/*end for buttons*/

#container-id{
    padding-left: 0px !important;
    margin: 0px !important;
    padding-right: 0px !important;
    border: 0px !important;
}

.parallax{
     /* The image used */
    background-image: url("images/home/1.jpg");

    /* Set a specific height */
    min-height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay{
background-color: rgba(0,0,0,0.7);
min-height: 600px;
}

#parallaxId{
    padding: 6%  0  2% 6%;
    color: white;
}
@media only screen and (min-width: 1000px){
#ctn1{
    width: 33%;
    float: left;
    padding-left: 5%;
}
}

.regularSliderParallaxFontSize{
    font-size: 18px;
}
.overlay1{
    list-style: none;
    min-height: 500px;
    background-color: rgba(0,0,0,0.6);


}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
 
 #text{
    color: grey;
    font-size: 2em;
}

}


.align-center{text-align: center;}

#text{
    color: grey;
}
/*End Of Parallax effect*/


/*______________________ HOME GALLERY ____________________*/
/*start buttons responsive*/

h1,h2,h3,h4,h5,h6,p,ul {
    margin:0;
    padding: 0;
}

/*End buttons responsive*/

@media only screen and (min-width: 1000px) {
  #for-padding{
    padding-left: 4%;
} 

}
/*for removing the border line on img in gallery*/
/*div.img-thumbnail{
border: none ;
}
*/


@media only screen and (max-width: 700px) {
 .home_gallery .gallery_menu li:nth-child(3):after {
    display: none;
    padding-left: 18px;
}
.home_gallery .gallery_menu li:nth-child(5):after {
    display: none;
    padding-left: 18px;
}

.home_gallery .gallery_menu li:nth-child(4):before {
    display: none;
    padding-right: 18px;
}

.home_gallery .gallery_menu li:nth-child(2):before {
    display: none;
    padding-right: 18px;
}
.home_gallery .gallery_menu li:nth-child(6):before {
    display: none;
    padding-right: 18px;
}

#lt{
    padding-left: 13px;
}
#rt{
    padding-right: 13px;
}
lt1{
    padding-left: 18px;
}
}


.home_gallery {
    overflow: hidden;
}
.home_gallery .gallery_menu_wrapper {
    text-align: center;
    margin-top:50px;
}
.home_gallery .gallery_menu li {
    display: inline-block;
    background: #f7f7f7;
    color:#252525;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 45px;
    cursor: pointer;
    padding: 0 7px;
    position: relative;
    margin:0 23px;  
}
.home_gallery .gallery_menu li:after,
.home_gallery .gallery_menu li:before {
    content:'';
    width:100%;
    height:100%;
    background: #f7f7f7;
    position: absolute;
    top:0;
    z-index: -1;
    transform: skew(45deg);
    -webkit-transform:skew(45deg);
    -moz-transform:skew(45deg);
    -ms-transform:skew(45deg);
    -o-transform:skew(45deg);
    -webkit-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
.home_gallery .gallery_menu li:before {
    left:23px;
}
.home_gallery .gallery_menu li:after {
    right:23px;
}
.home_gallery .gallery_menu li:first-child:after {
    display: none;
}

.home_gallery .gallery_menu li:first-child {
    padding-left: 18px;
}
.home_gallery .gallery_menu li:last-child:before {
    display: none;
}
.home_gallery .gallery_menu li:last-child {
    padding-right: 18px;
}
.home_gallery .gallery_menu li.active,
.home_gallery .gallery_menu li:hover,
.home_gallery .gallery_menu li.active:after,
.home_gallery .gallery_menu li.active:before,
.home_gallery .gallery_menu li:hover:after,
.home_gallery .gallery_menu li:hover:before {
    background: #f4762a;
    color:#fff;
}
.home_gallery .gallery_item_wrapper {
    margin-top:40px;
    overflow: hidden;
}
.home_gallery .gallery_item_wrapper .single_item {
    margin-bottom: 30px;
}
.home_gallery .gallery_item_wrapper .single_item .img_holder {
    position: relative;
    overflow: hidden;
}
.home_gallery .gallery_item_wrapper .mix {
    display: none;
}
.home_gallery .gallery_item_wrapper .single_item .img_holder .overlay {
    position: absolute;
    width:100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    background: rgba(77,194,230,0.9);
    top:0;
    left:0;
}
.home_gallery .gallery_item_wrapper .single_item .img_holder .overlay span {
    display: table;
    width:100%;
    height:100%;
}

.home_gallery .gallery_item_wrapper .single_item .img_holder .overlay span a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.home_gallery .gallery_item_wrapper .single_item .img_holder .overlay span a i {
    width:55px;
    height: 55px;
    border:1px solid #fff;
    line-height: 55px;
    text-align: center;
    color:#fff;
    font-size: 18px;
}
.home_gallery .gallery_item_wrapper .single_item .img_holder .title {
    position: absolute;
    display: inline-block;
    width:100%;
    bottom: -75px;
    opacity: 0;
    visibility: hidden;
    left:0;
    background: #f7f7f7;
    padding: 15px 0 14px 95px;
}
.home_gallery .gallery_item_wrapper .single_item .img_holder .title h5 {
    text-transform: uppercase;
    margin-bottom: 8px;
}
.home_gallery .gallery_item_wrapper .single_item .img_holder .title i {
    color:#4dc2e6;
}
.home_gallery .gallery_item_wrapper .single_item .img_holder .title .icon {
    width:75px;
    height:100%;
    background: #f4762a;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
}
.home_gallery .gallery_item_wrapper .single_item .img_holder .title .icon .ficon:before {
    line-height:74px;
    font-size: 39px;
}
.home_gallery .gallery_item_wrapper .single_item:hover .img_holder .title {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}
.home_gallery .gallery_item_wrapper .single_item:hover .overlay {
    height:79%;
    opacity: 1;
    visibility: visible;
}
.home_gallery a.view_more {
    width:160px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin:20px auto 0 auto;
    display: block;
}
/*end of home gallery*/


/*Start for FOOTER*/
footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }

 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
/*End For Footer*/


/**
/*______________________ PROPERTY DETAILS TAB ___________*/

.property_details_tab {
    background: url(css/images/home/7.jpg);
    background-attachment: fixed;
    background-size: cover;
    height:731px;
    margin-top:94px;
    margin-bottom: 92px;
}
.property_details_tab .overlay {
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.77);
    padding-top: 100px;
}

.property_details_tab .tab_nav_holder {
    background: rgba(0,0,0,0.57);
    padding-bottom: 1px;
}
.property_details_tab .tab_nav_holder h2 {
    text-transform: uppercase;
    color:#fff;
    text-align: center;
    line-height: 55px;
    background: #4dc2e6;
}
.property_details_tab .tab_nav_holder ul {
    background: #000000;
    margin:25px;
    border:none;
}
.property_details_tab .tab_nav_holder ul li {
    display: block;
    width: 100%;
    border-radius:0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.property_details_tab .tab_nav_holder ul li a {
    border-radius: 0;
    border:none;
    border-bottom: 1px solid transparent;
    margin:0;
    position: relative;
    padding: 19px 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.property_details_tab .tab_nav_holder ul li a h5,
.property_details_tab .tab_nav_holder ul li a h6 {
    color:#fff;
}
.property_details_tab .tab_nav_holder ul li a h5 {
    text-transform: uppercase;
    margin-bottom: 16px;
}
.property_details_tab .tab_nav_holder ul li a h6 {
    font-weight: 600;
}
.property_details_tab .tab_nav_holder ul li a .name {
    padding-left: 20px;
    border-left:1px solid #fff;
    margin-left:62px;
}
.property_details_tab .tab_nav_holder ul li a .icon {
    position: absolute;
    top: 21px;
    left: 26px;
}
.property_details_tab .tab_nav_holder ul li a .icon .ficon:before {
    font-size: 32px;
}
.property_details_tab .tab_nav_holder ul li.active a,
.property_details_tab .tab_nav_holder ul li.active> a:hover,
.property_details_tab .tab_nav_holder ul li a:hover,
.property_details_tab .tab_nav_holder ul li a:focus {
    border:none;
    border-bottom: 1px solid transparent;
    background: transparent;
}
.property_details_tab .tab_nav_holder ul li.active,
.property_details_tab .tab_nav_holder ul li:hover {
    background: #4dc2e6;
}


.property_details_tab .tab-content h2,
.property_details_tab .tab-content h2:before,
.property_details_tab .tab-content h4 {
    color:#fff;
}
.property_details_tab .tab-content h4 {
    line-height: 26px;
    margin-top: -6px;
    margin-bottom: 18px;
}
.property_details_tab .tab_details .main-title2 {
    margin-bottom: 50px;
    margin-top:-7px;
}

.property_details_tab .tab_details .property_data ul li {
    display: inline-block;
    color:#fff;
}
.property_details_tab .tab_details .property_data ul li i {
    font-size: 18px;
    color:#f4762a;
    margin-right:11px;
}

.property_details_tab .tab_details .property_data ul:first-child {
    margin-top:39px;
}

.property_details_tab .tab_details .property_data ul:nth-child(2) {
    margin-top:25px;
}

.property_details_tab .tab_details .property_data ul:first-child li {
 margin-right: 49px;
}

.property_details_tab .tab_details .property_data ul:nth-child(2) li {
    margin-right:45px;
}

.property_details_tab .tab_details .property_data ul li:last-child {
    margin-right:0;
}
.property_details_tab .tab_details .property_data>a {
    line-height: 50px;
    width:220px;
    text-align: center;
    margin-top:45px;
    text-transform: uppercase;
    font-weight: 700;
}
.property_details_tab .tab_details .carousel-indicators li {
    width:12px;
    height:12px;
    margin:3px;
}
.property_details_tab .tab_details .carousel-indicators li.active {
    width:12px;
    height:12px;
    margin:3px;
    background: #f4762a;
    border:1px solid #f4762a;
}
.property_details_tab .tab_details .carousel-indicators {
    bottom: 8px !important;
}
.property_details_tab.property_details_tab_two .tab_details .carousel-indicators li.active {
    width:12px;
    height:12px;
    margin:3px;
    background: #fff;
    border:1px solid #fff;
}



    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px){
        #responsiveWidth{
    width: 100%;
}

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px){
#responsiveWidth{
    width: 100%;
}


    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px){

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px){
#responsiveWidth{
    width: auto;
}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px){
#responsiveWidth{
    width: auto;
}
    }


